img {
    height: 200px;
}
html{
    height: 75%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: cursive;
}

main {
    padding: 16px;
    height: 92%;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: yellowgreen;
    margin: 0px;
    border-top: 1px solid black;
}

footer > div {
    padding: 34px;
    font-size: large;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
}

nav a {
    color: white;
}

nav a:hover {
    text-shadow: 1px 1px 2px red, 0 0 1em yellow, 0 0 0.2em yellow;
}

h3 > a {
    color: green;
}

h3 > a:hover{
    text-shadow: 1px 1px 2px darkgreen;
}

h1 {
    color: darkgreen;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.grid-container > div {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: lightgray;
}

.fit-picture{
    border: 5px groove black;
    box-shadow: 10px 5px 5px lightgray;
}

h1 {
    font-variant: small-caps;
}

